.header {
	position: absolute;
	padding: 50px;
	box-sizing: border-box;
	z-index: 10;
	p {
		color: #4C4C4C;
		font-size: rem(14px);
		letter-spacing: rem(2.8px);
		line-height: rem(19px);
		margin-bottom: 20px;
	}
}