.view-project {
	.teaser {
		&__gallery {
			overflow: visible;
		}
		&__gallery-container {
			transform: translateY(0px);
			height: auto;
			@include transition(transform 0s ease-in-out);
			img {
				width: 100%;
				margin-bottom: 10%;
			}
		}
		&__text {
			.scrollbox {
				top: auto;
				bottom: 50px;
				opacity: 0;
				@include transition(opacity 0.8s ease-in-out);
				@include tablet {
					display: none;
				}
				&__down {
					cursor: initial;
				}
			}
			.next-project {
				position: absolute;
				bottom: 50px;
				font-size: 14px;
				font-family: $rob;
				color: $grey;
				opacity: 0;
				letter-spacing: rem(1.5px);
				visibility: hidden;
				@include transform(translateY(50%));
				@include transition(opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visible 0.5s ease-in-out);
				&--visible {
					opacity: 0;
					visibility: visible;
					@include transform(translateY(0%));
				}
			}
			> .cta {
				position: absolute;
				top: -122px;
			}
		}
		&__description {
			margin-bottom: 40px;
			opacity: 0;
			@include transform(translateX(5%));
			@include transition(all 0.5s ease-in-out 0.2s);
		}
		&__legend {
			margin-bottom: 40px;
			font-size: rem(14px);
			opacity: 0;
			letter-spacing: rem(1.5px);
			@include transform(translateX(5%));
			@include transition(all 0.5s ease-in-out 0.2s);
			&:before {
				top: 50%;
			}
		}
	}
}

.is-mobile {
	.teaser {
		&__gallery-container {
			padding-bottom: 60px;
			img {
				width: auto;
				height: calc(100vh - 270px);
    			margin: 0 auto 10%;
    			display: block;
    			opacity: 1;
			}
		}
	}

}

.view-project.view-loaded {
	.teaser {
		&__description {
			opacity: 1;
			@include transform(translateX(0%));
			@include transition(all 0.5s ease-in-out 1.5s);
		}
		&__legend {
			opacity: 1;
			@include transform(translateX(0%));
			@include transition(all 0.5s ease-in-out 1.7s);
		}
		&__project-type {
			@include transition(all 0.5s ease-in-out 1.3s);
		}
	}
	&.view-project .teaser__text .scrollbox {
		opacity: 1;
		@include transition(opacity 0.5s ease-in-out 1.3s);
		&--hidden {
			opacity: 0;
			@include transition(opacity 0.3s ease-in-out 0s);
		}
	}
	.teaser__text {
		.next-project {
			&--visible {
				opacity: 1;
			}
		}	
	}
}