.scrollbox {
	font-family: $rob;
	font-weight: 300;
	font-size: rem(14px);
	line-height: rem(25px);
	color: $grey;
	&__up, &__down {
		position: relative;
		transition: color ease-in-out 0.5s;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			height: 30px;
			background-color: $grey;
			transition: background-color ease-in-out 0.5s;
		}
		&--active {
			color: $white;
			cursor: pointer;
			&:before {
				background-color: $white;
			}
		}
	}
	&__up {
		padding-bottom: 30px;
		margin-bottom: 30px;
		&:before {
			bottom: 0;
		}
	}
	&__down {
		padding-top: 30px;
		&:before {
			top: 0;
		}
	}
}