.teaser {
	height: 100%;
	padding: 50px;
	padding-bottom: 0;
	box-sizing: border-box;
	display: flex;
	position: relative;
	&__background {
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		@include transition(all 1s ease-in-out);
	}
	&__gallery {
		width: 60%;
		height: 100%;
		overflow: hidden;
		opacity: 0;
		@include transform(translateY(10%));
		@include transition(all 1s ease-in-out 0s);
	}
	&__gallery-container {
		width: 100%;
		height: 100%;
		@include transform(translateY(3px));
		@include transition(transform 0.6s ease-in-out)
	}
	&__thumbnail {
		position: relative;
		width: 100%;
		height: 80%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		margin-bottom: 5%;
		@include transition(opacity 1s ease-in-out)
		&--prev {
			opacity: 0;
		}
		&--current {
			opacity: 1;
		}
		&--next {
			opacity: 0.2;
		}
		a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	&__text {
		margin-left: 5%;
		padding-left: 80px;
		box-sizing: border-box;
		width: 35%;
		position: relative;
		@include transform(translateY(-3px));
		.scrollbox {
			position: absolute;
			left: 0;
			top: calc(80% + 5px);
			margin-top: -140px;
			opacity: 0;
			@include transform(translateY(20%));
			@include transition(all 1s ease-in-out 0s);
		}
		h2 {
			letter-spacing: rem(4px);
			@include transform(translateX(5%));
			opacity: 0;
			@include transition(all 0.5s ease-in-out 0.2s);
		}
		.cta {
			opacity: 0;
			@include transition(all 0.5s ease-in-out 0s);
		}
	}
	&__count {
		font-size: rem(14px);
		position: absolute;
		left: 3px;
		letter-spacing: rem(6px);
		top: 17px;
		width: 40px;
		text-align: center;
		opacity: 0;
		@include transform(translateY(50%));
		@include transition(all 0.5s ease-in-out 0.2s);
	}
	&__project-type {
		font-size: rem(14px);
		color: $grey;
		margin-bottom: 30px;
		letter-spacing: rem(2.33px);
		@include transform(translateX(5%));
		opacity: 0;
		@include transition(all 0.5s ease-in-out 0.2s);
	}
}

.view-loaded {
	.teaser {
		&__background {
			opacity: 1;
		}
		&__text {
			h2 {
				@include transform(translateX(0%));
				opacity: 1;
				@include transition(all 0.5s ease-in-out 1s);
			}
			.cta {
				opacity: 1;
				@include transition(all 0.5s ease-in-out 2s);
			}
			.scrollbox {
				opacity: 1;
				@include transform(translateY(0%));
				@include transition(all 0.5s ease-in-out 1.3s);
			}
		}
		&__count {
			opacity: 1;	
			@include transform(translateY(0%));
			@include transition(all 0.5s ease-in-out 1s);
		}
		&__project-type {
			@include transform(translateX(0%));
			opacity: 1;
			@include transition(all 0.5s ease-in-out 1.3s);
		}
		&__gallery {
			opacity: 1;
			@include transform(translateY(0%));
			@include transition(all 0.5s ease-in-out 0.6s);
		}
	}
}