h1 {
	font-family: $pop;
	font-weight: 400;
	text-transform: uppercase;
	font-size: rem(18px);
	letter-spacing: rem(3px);
	line-height: rem(19px);
}

h2 {
	@extend h1;
}

p {
	font-family: $rob;
	font-weight: 400;
	font-size: rem(14px);
	line-height: rem(26px);
	letter-spacing: rem(1.5px);
}

a.cta {
	font-family: $rob;
	font-weight: 400;
	text-decoration: underline;
	color: $white;
	font-size: rem(14px);
	letter-spacing: rem(1px);
	line-height: rem(25px);
	cursor: pointer;
}