<div class="teaser__background"></div>
<div class="teaser">
	<div class="teaser__gallery">
		<div class="teaser__gallery-container">		
			<div class="teaser__thumbnail teaser__thumbnail--current" style="background-image: url('img/project-1-thumbnail.png');">
				<a href="project/tesla"></a>
			</div>
			<div class="teaser__thumbnail teaser__thumbnail--next" style="background-image: url('img/project-2-thumbnail.png');">
				<a href="project/lbpc"></a>
			</div>
			<div class="teaser__thumbnail" style="background-image: url('img/project-3-thumbnail.png');">
				<a href="project/delivrhetic"></a>
			</div>
		</div>
	</div>
	<div class="teaser__text">
		<div class="teaser__count"><span class="teaser__count-current"></span>/<span class="teaser__count-total"></span></div>
		<h2 class="with-line"></h2>
		<div class="teaser__project-type"></div>
		<a href="#" class="cta">view project</a>
		<div class="scrollbox">
			<div class="scrollbox__up scrollbox__up--active">scroll up</div>
			<div class="scrollbox__down scrollbox__down--active">scroll down</div>
		</div>
	</div>
</div>