<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8" />
    
    <title>Chrissen Rajathurai - 2017 Portfolio</title>    
    
    <!-- SEO meta -->
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Chrissen Rajathurai - 2017 Portfolio" />
    <!-- End SEO meta -->

    <!-- IE meta -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- End IE meta -->
   
    <!-- Apple meta -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Chrissen Rajathurai - 2017 Portfolio" />
    <!-- End Apple meta -->

    <!-- Mobile meta -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <!-- End mobile meta -->

    <!-- Facebook meta -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content="" />
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <!-- End Facebook meta -->

    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="" />
    <!-- End Twitter meta -->
    
    <!-- build:css -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500|Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

</head>
<body>

    <header class="header">
        <h1>Chrissen Rajathurai</h1>
        <p>portfolio</p>
        <a class="cta" target="_self">more about me</a>
    </header>

    <section class="about">
        <div class="about__introduction">
            <p>Hello, I’m a 24 years old Junior Web Designer living in <strong>Paris</strong> and studying at Hetic.</p>
            <p>I’m looking for an internship in San Francisco from July to December 17’.</p>
            <p>I like to design simple and friendly interfaces and I still have a lot to learn.</p>
            <p>Doing my internship abroad would allow me to discover how other agencies work and improve my skills in UX, UI and animations.</p>
            <p>I also do freelance work, so feel free to contact me !</p>
        </div>
        <div class="about__informations">
            <h2 class="with-line">Links</h2>
            <ul class="about__socials">
                <li><a class="cta" href="#" target="_blank">Dribbble</a></li>
                <li><a class="cta" href="#" target="_blank">Behance</a></li>
                <li><a class="cta" href="#" target="_blank">Twitter</a></li>
                <li><a class="cta" href="#" target="_blank">Instagram</a></li>
                <li><a class="cta" href="mailto:chrissen.rajathurai@gmail.com" target="_blank">E-mail</a></li>
            </ul>
            <div class="about__credits">
                <p class="with-line">Developed by <a href="http://louisamiot.com" target="_blank" class="cta">Louis Amiot</a></p>
            </div>
        </div>
    </section>

    <div class="page-content">      
    </div>

    <script src="js/vendors.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/main.js"></script>

</body>
</html> 