<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8" />
    
    <title>Chrissen Rajathurai - 2017 Portfolio</title>    
    
    <!-- SEO meta -->
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Chrissen Rajathurai - 2017 Portfolio" />
    <!-- End SEO meta -->

    <!-- IE meta -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- End IE meta -->
   
    <!-- Apple meta -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Chrissen Rajathurai - 2017 Portfolio" />
    <!-- End Apple meta -->

    <!-- Mobile meta -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <!-- End mobile meta -->

    <!-- Facebook meta -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://chrissen.fr"/>
    <meta property="og:title" content="Chrissen Rajathurai - 2017 Portfolio"/>
    <meta property="og:image" content="http://chrissen.fr/img/favicon/android-chrome-256x256.png" />
    <meta property="og:site_name" content="Chrissen Rajathurai - 2017 Portfolio"/>
    <meta property="og:description" content="A French Junior Digital Designer looking for an internship in San Francisco from July to December 17’."/>
    <!-- End Facebook meta -->

    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="http://chrissen.fr" />
    <meta name="twitter:title" content="Chrissen Rajathurai - 2017 Portfolio" />
    <meta name="twitter:site" content="@Chrissen_R" />
    <meta name="twitter:image" content="http://chrissen.fr/img/favicon/android-chrome-256x256.png" />
    <!-- End Twitter meta -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- End Favicon -->
    
    <!-- build:css -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500|Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-77363650-1', 'auto');
     ga('send', 'pageview');

    </script>

</head>
<body>

    <header class="header">
        <h1>Chrissen Rajathurai</h1>
        <p>portfolio</p>
        <a class="cta" target="_self">more about me</a>
        <a href="/" ></a>
    </header>

    <section class="about">
        <div class="about__header">
            <h1>Chrissen Rajathurai</h1>
            <p>portfolio</p>
        </div>
        <div class="about__introduction">
            <p>Hello, I’m a 24-year-old <strong>Junior Digital Designer</strong> living in <strong>Paris</strong> and studying at <a href="http://hetic.net/" class="cta" target="_blank">Hetic</a>.</p>
            <p>I’m looking for an <strong>internship</strong> in San Francisco from <strong>July to December 17’</strong>.</p>
            <p>I like to design <strong>simple</strong> and <strong>friendly</strong> interfaces and I am always eager to learn new things.</p>
            <p>Doing my internship abroad would allow me to discover how international agencies work and improve my skills in <strong>UX</strong>, <strong>UI</strong> and <strong>animations</strong>.</p>
            <p>I also do <strong>freelance</strong> work, so feel free to <a class="cta" target="_blank" href="mailto:chrissen.r@gmail.com">contact me</a> !</p>
        </div>
        <div class="about__informations">
            <h2 class="with-line">Links</h2>
            <ul class="about__socials">
                <li><a class="cta" href="https://dribbble.com/Chrissen" target="_blank">Dribbble</a></li>
                <li><a class="cta" href="https://www.behance.net/chrissenr" target="_blank">Behance</a></li>
                <li><a class="cta" href="https://twitter.com/Chrissen_R" target="_blank">Twitter</a></li>
                <li><a class="cta" href="https://www.instagram.com/_chrissen/" target="_blank">Instagram</a></li>
                <li><a class="cta" href="mailto:chrissen.r@gmail.com" target="_blank">E-mail</a></li>
            </ul>
            <div class="about__credits">
                <p class="with-line">Developed by <a href="http://louisamiot.com" target="_blank" class="cta">Louis Amiot</a></p>
            </div>
        </div>
    </section>

    <div class="page-content">      
    </div>

    <script src="js/vendors.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/main.js"></script>

</body>
</html> 